[Unit]
Description=Set iSCSI BOOTIF to unmanaged in NetworkManager
After=NetworkManager.service network.target
ConditionKernelCommandLine=BOOTIF

[Service]
Type=oneshot
# Wait until interface has finished any new DHCP requests before continuing
ExecStartPre=/bin/sleep 10
ExecStart=/bin/sh -c 'set -ex; BOOTIF_MAC=$(sed -n "s/.*BOOTIF=..-\\([-0-9A-Fa-f]*\\).*/\\1/p" /proc/cmdline | tr - : | tr [:upper:] [:lower:]); INTERFACE=$(ip -o link | awk "/link\\/ether $BOOTIF_MAC/ { print substr(\\$2, 1, length(\\$2)-1) }"); nmcli device set "$INTERFACE" managed no'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target